.size-checked:checked ~ .label-size {
    background-color: #000;
    color: #fff;
}

.size-wrapper {
    display: block;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    margin-left: 0.5rem!important;
    margin-bottom: 0.5rem!important;
    cursor: pointer;

    &.checked {
        background-color: #000;
        color: #fff;
    }
}
