.wrap-pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .pagination {
    }

}
.text-link {
    font-size: 1.3rem;
    color: #252a2b;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #252a2b;
    }
}
.image-category{
    width: 100%;
    margin-top: 2rem;
}