.profile-section {
    background-color: #fff;
    margin: 0 1rem;
    padding: 2rem;
    border-radius: 1rem!important;
    .forgot {
        .link {
            text-decoration: none;
            display: inline-block;
            margin-left: 2rem;
            font-size: 1.4rem;
            color: #333!important;
        }
    }
    
    .content {
        .btn-save{
            box-shadow: none;
            padding: 1rem;
        }
        .text {
            font-size: 1.4rem;
            color: #333;
            &.text-light {
                text-align: end;
                color: rgba(85, 85, 85, 0.8);
            }
        }
        .upload-avatar {
            margin-top: 2rem;
            .avatar {
                height: 100px;
                width: 100px;
                border: 1px solid #ccc;
                cursor: pointer;
            }
            .label-name {
                margin-top: 2rem;
                border: 1px solid #ccc;
                font-size: 1.4rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
            .text {
                font-size: 1.4rem;
                margin-top: 2rem;
            }
        }
    }
}
