.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .content {
        border-radius: 1px solid #ccc;
        width: 50%;

        .btn-facebook {
            font-size: 1.4rem;
            border-radius: 1.5rem;
            background-color: #3b5998;
            text-transform: inherit;
        }
        .btn-login {
            font-size: 1.4rem;
            border-radius: 1.5rem;
            background-color: #000;
            text-transform: inherit;
        }
        .option {
            margin: 2rem 0;
            text-align: center;
            width: 100%;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: "";
                height: 2px;
                background-color: #ebebeb;
                flex: 1;
            }
            &::before {
                content: "";
                height: 2px;
                background-color: #ebebeb;
                flex: 1;
            }
        }
        .title {
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .sub-title {
            text-align: center;
            margin-bottom: 1rem;
        }

        .btn {
            text-decoration: none;
            display: block;
            &.btn--inline {
                display: inline;
            }
        }

        .btn-right {
            text-align: right;
        }
    }
}
