.after-sale-content {
    display: flex !important;
    align-items: center;
    justify-content: center;
    .after-sale-text {
        font-size: 1.4rem;
        // height: 4.5rem;
        strong {
            font-weight: bold;
        }
    }
}

.main {
    width: 100%;
    margin: 0 auto;
    .card-home {
        width: 1263px !important;
        // width: 100%;
        .picture {
            width: 100%;
            object-fit: cover;
        }
    }
    .card {
        width: 532px !important;
        overflow: hidden;
        .picture {
            width: 100%;
        }
    }
}

// .next-arrow-after-sale {
//     position: absolute !important;
//     right: 25% !important;
//     // display: block !important;
//     &::before {
//         content: "" !important;
//     }
// }
