@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
:root {
    --main-color: #000;
    --secondary-color: #fff;
    --third-color: #b22d29;
    --tag-color: #ff3102;
    --bg-color: #bb0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif !important;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
/* CSS */
.popup-btn--confirm {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.popup-btn--confirm:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.popup-btn--confirm:hover {
    background-color: #2c974b;
}

.popup-btn--confirm:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}

.popup-btn--confirm:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

.popup-btn--confirm:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.rounded-3 {
    border-radius: 20px !important;
}

.popup-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.popup-title--success {
    color: #298e46 !important;
}

.popup-text--success {
    line-height: 1.5;
}

.custom-dots-carousel--border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.custom-dots-carousel--dot {
    background-color: #928c8c;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}
.slick-active {
    .custom-dots-carousel--dot {
        background-color: #000;
    }
    .custom-dots-carousel--border {
        border: 2px solid #000;
        border-radius: 100%;
    }
}

button:focus {
    outline: none;
}

.slick-slider {
    display: flex;
    align-items: center;
}
