.header {
    .link-logo {
        padding-left: 20px;
        display: block;
        .logo {
            width: 140px;
            overflow: hidden;
        }
    }
    .menu {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        .link {
            padding: 2.3rem 1.5rem;

            .menu-item {
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: #000;
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        .has-submenu {
            position: relative;
            .submenu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 200px;
                text-decoration: none;
                list-style: none;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                z-index: 2;
                display: none;
                opacity: 0;
                .submenu-item {
                    padding: 10px 20px;
                    text-decoration: none;
                    color: #000;
                    font-size: 14px;
                    font-weight: 400;
                    border-bottom: 1px solid #f3f1f1;
                    &:hover {
                        background-color: #eff2f7;
                    }
                    .direct {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
            &:hover {
                .submenu {
                    display: block;
                    transition: linear 0.2s;
                    opacity: 1;
                }
            }
        }
    }
    .icons {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
        outline: none;
        .icon-wrapper {
            margin: 0 1rem;
            .icon-btn {
                padding: 0;
                border-radius: 0;
                &:hover,
                &:focus {
                    outline: none;
                }
                .icon {
                    height: 30px;
                    color: #252a2b;
                    width: 30px;
                }
            }
        }
    }
}
