.tab-home {
    margin-bottom: 2rem;
    .tabs {
        display: flex;
        justify-content: center;
        list-style: none;
        .tab {
            text-transform: uppercase;
            color: #666;
            line-height: 2;
            font-size: 1.8rem;
            &.active {
                font-weight: bold;
                color: #000;
            }
            margin: 2rem;
            cursor: pointer;
        }
    }
}
