.account-section {
    padding-bottom: 3rem;
    .theme {
        background: #3fada8;
        background: -webkit-linear-gradient(to right, #000c40, #3fada8);
        background: linear-gradient(to right, #000c40, #3fada8);

        padding-top: 3.2rem;
        padding-bottom: 3.2rem;

        .them-content {
            padding: 6rem 1.5rem 6rem 3rem;
            .text {
                color: #fff;
            }

            .title {
                font-size: 4rem;
                line-height: 3rem;
                margin-bottom: 1rem;
                font-weight: bold;
            }
            .subtitle {
                font-size: 2rem;
            }
        }
    }
    .main {
        width: 100%;
        margin: -6.4rem auto 0px;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        padding-top: 0px !important;
        .main-grid {
            margin-top: -3.2rem;
        }
    }
}
